{% extends 'base.html' %} {% block content %}

<h3>Sign In</h3>

<div class="row">
  <form
    class="col s12"
    action="https://formdump.codeinstitute.net/"
    method="post"
    target="_blank"
  >
    <div class="row">
      <div class="input-field col s12">
        <i class="material-icons prefix">username</i>
        <input id="username" name="username" type="text" class="validate" />
        <label for="icon_prefix">username</label>
      </div>
      <div class="input-field col s12">
        <i class="material-icons prefix">password</i>
        <textarea
          id="password"
          name="password"
          class="materialize-textarea"
        ></textarea>
        <label for="icon_telephone">password</label>
      </div>
    </div>
  </form>
</div>

{% endblock %}
